<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Nancy.ViewEngines.Razor, Version=0.8.0.0, Culture=neutral, PublicKeyToken=null" />
      </assemblies>
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.NancyRazorBuildProvider, Nancy.ViewEngines.Razor" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
</configuration>